.calc{
  width: 320px;
  margin: 100px auto;
}
/*  input design */
#answer{
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  box-direction: 3-x solid #333;
}
/*  design for all button */
.button{
  background-color: #333;
  height: 60px;
  width: 80px;
  font-size: 30px;
  border: 1px solid black;
  float:  left;
  
}
.button1{
  background-color:grey;
  height: 60px;
  width: 80px;
  font-size: 30px;
  border: 1px solid black;
  float:  left;

}
/*  design for clear and = eqaual button */
.button3{
  background-color: #333;
  height: 80px;
  width: 50%;
  font-size: 30px;
  border: 1px solid black;
  float:  left;
}